[CLIENT]
ipaddr                  = 192.168.2.12
iface                   = enp0s25
useproxy                = 0
proxyhost               =
proxyport               =
proxyuser               =
proxypass               =

[PATHS]
db                      = data/pytbull.db
urlpdf                  = https://github.com/sebastiendamaye/public/raw/master/infected/
pdfdir                  = pdf/malicious
pcapdir                 = pcap
tempfile                = /tmp/pytbull.tmp
#alertsfile              = /var/log/snort/alert
alertsfile              = /var/log/suricata/fast.log

[ENV]
sudo                    = /usr/bin/sudo
nmap                    = /usr/bin/nmap
nikto                   = /data/tools/nikto-2.1.5/nikto.pl
niktoconf               = /data/tools/nikto-2.1.5/nikto.conf
hping3                  = /usr/sbin/hping3
tcpreplay               = /usr/bin/tcpreplay
ab                      = /usr/bin/ab
ping                    = /bin/ping
ncrack                  = /usr/local/bin/ncrack
ncrackusers             = data/ncrack-users.txt
ncrackpasswords         = data/ncrack-passwords.txt
localhost               = 127.0.0.1

[FTP]
ftpproto                = sftp
ftpport                 = 22
ftpuser                 = justme
ftppasswd               = My_AwesomeP4ssword

[TIMING]
sleepbeforegetalerts    = 2
sleepbeforenexttest     = 2
sleepbeforetwoftp       = 2
urltimeout              = 10

[SERVER]
reverseshellport        = 12345

[TESTS]
clientSideAttacks       = 1
testRules               = 1
badTraffic              = 1
fragmentedPackets       = 1
bruteForce              = 1
evasionTechniques       = 1
shellCodes              = 1
denialOfService         = 1
pcapReplay              = 1
normalUsage             = 1
ipReputation            = 1

[TESTS_PARAMS]
ipreputationnbtests     = 10
